*, html {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


.menuContainer{
    height:8rem;
    display:flex;
    align-items: center;
    justify-content:space-around;
    font-family: "Bangers", serif;
    font-weight:bold;
    background-color:#cccccc
}

#searchInput{
    height:3rem;
    font-family: "Bangers", serif;
    font-size: 1.5rem;
}
#contentContainer{
    width:100vw;
    display:flex;
    flex-wrap: wrap;
}
.cardContainer {
    display:flex;
    flex-direction:column;
    width: 20rem;
    margin:2rem;
    box-shadow: inset;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.cardContainer:hover{
    transform: scale(1.1);
}
.cardTitle{
    text-align: center;
    font-family: "Bangers", serif;
    font-size:1.5rem;
}

p{
    text-align: center;
    font-weight: 600;
}